$contentWidth: 30rem;

:host {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: $contentWidth;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  @media (max-width: $contentWidth) {
    flex-direction: column;
  }

  &.vertical {
    flex-direction: column;
  }

  > input {
    width: 60%;
  }
}
